{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Hello!!</title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
</head>
<body>
	<div id="maindiv">
		<h1>Nice work</h1>
		<ul>
			{% for elem in posts %}
				<li>
					<a href="{% url 'post_detail' pk=elem.pk %}"><h3>{{elem}}</h3></a>
					{{elem.text}}
				</li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>